.button {
    outline: none;
    font-size: 20px;
    padding: 0.7em;
    flex-basis: 100%;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    color: white;
}

.btnred {
    background-color: #f2453d;
}

.btngreen {
    background-color: #2fa69a;
}

.btnblue {
    background-color: #2278cf;
}