.textBox {
    border: none;
    outline: none;
    line-height: 1.4em;
    padding: 0 1em;
    border-bottom: 2px solid #808080;
    width: 100%;
    resize: none;
}

.textBoxContainer {
    width: 100%;
    position: relative;
    padding: 2em 0;
}

.textBoxLabel {
    position: absolute;
    top: 0;
    font-weight: bold;
}

.textBox:focus {
    border-bottom: 4px solid green;
}

/* .textBox:focus+.textBoxLabel {
    top: -1em;
} */