
.inputContainer{
    position: relative;
    width: 100%;
}
.loginInput{
    padding: 1em;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #808080;
    position: relative;
    outline: none;
}
.loginInput:focus{
    border: 2px solid #2278cf;
}
.loginInput:focus + .label{
    display: block;
}
.loginInput:focus::placeholder{
    color: transparent;
}

.label{
    font-size: 10px;
    color: #2278cf;
    font-weight: bold;
    position: absolute;
    top: -0.5em;
    left: 1em;
    background: white;
    display: none;
    padding: 0 0.2em;
}
.error{
    font-size: 13px;
    color: red;
    font-weight: bold;
    position: absolute;
    top: -0.5em;
    left: 1em;
    background: white;    
    padding: 0 0.2em;
}
.errorBorder{
    box-shadow: 0 0 2pt 2pt red;
}


