.login_icon{
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    background-color: red;
    text-align: center;
    border-radius: 50%;
    color: white;
}
.dash_icon{
    font-size: 50px;
}
.post_icon{
    color: black;
    font-size: 25px;
}
.iconwhite{
    color: white;
}
.icongreen{
    color: #2fa69a;
}